{
    "linters": {
        "src/**/*.js": [
            "eslint --fix",
            "git add"
        ],
        "src/**/*.vue": [
            "eslint --fix",
            "git add"
        ]
    },
    "ignore": [
        "**/migrations/**/*.js",
        "**/node_modules/**/*.js",
        "**/dist/**/*.js"
    ]
}
